<div class="cards">
  <mat-card appearance="outlined">
    <mat-card-content appearence="outlined">Desenvolvimento</mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content appearence="outlined">Disponibilizada para Testes</mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content appearence="outlined">Disponibilizada para Testes</mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content appearence="outlined">em homologação</mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content appearence="outlined">em implantação</mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content appearence="outlined">implantada</mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content appearence="outlined">impedimento</mat-card-content>
  </mat-card>
</div>
