form {
  display: grid;
  margin: 2%;
}
.container {
  margin-top: .5rem;
  padding-top: 1rem;
  border-radius: 5px;
  display: block;
  height: 30rem;
}
.full-width {
  width: 100%;
}

.mat-form-field {
  margin: 2%;
}

.botoes {
  margin-top: .5rem;
  width: 100%;

}

select[matNativeControl] {
  padding: 0px 0px 0px 5px;
}

