.page-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #3f51b5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 90%;
  margin: auto;
}

.full-width {
  width: 100%;
}

.selectbs {
  width: 100%;
}

.botoes {
  margin-top: 1rem;
  width: 100%;
}
