.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(37, 97, 207, 1) 0%, rgba(0, 212, 255, 1) 100%);
  color: white;
}

.sidenav img {
  width: 100%;
  height: 7rem;
  margin: 0.8rem auto 1rem auto;
}

.sidenav a {
  color: white;
  text-decoration: none;
}

.sidenav i {
  margin-right: 0.6rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.active-link {
  font-weight: bold;
  color: #ffeb3b;
}

.mat-toolbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
