<p-sidebar [(visible)]="isOpened" [baseZIndex]="10000" styleClass="p-sidebar-menu" [modal]="false">
  <p-toolbar styleClass="p-toolbar-menu">
    <div class="p-toolbar-group-left">
      <span class="p-menu-title">Menu</span>
    </div>
  </p-toolbar>

  <ul class="p-menu-list">
    <li>
      <a routerLink="/" routerLinkActive="active-link" class="p-menu-item">
        <i class="pi pi-home p-menu-icon"></i> <span>Início</span>
      </a>
    </li>
    <li>
      <a routerLink="/aplicacoes" routerLinkActive="active-link" class="p-menu-item">
        <i class="pi pi-th-large p-menu-icon"></i> <span>Aplicações</span>
      </a>
    </li>
    <li>
      <a routerLink="/criar" routerLinkActive="active-link" class="p-menu-item">
        <i class="pi pi-plus p-menu-icon"></i> <span>Adicionar Aplicação</span>
      </a>
    </li>
    <li>
      <a routerLink="/desenvolvedores" routerLinkActive="active-link" class="p-menu-item">
        <i class="pi pi-users p-menu-icon"></i> <span>Desenvolvedores</span>
      </a>
    </li>
    <li>
      <a routerLink="/recursos" routerLinkActive="active-link" class="p-menu-item">
        <i class="pi pi-box p-menu-icon"></i> <span>Recursos</span>
      </a>
    </li>
  </ul>
</p-sidebar>

<div class="main-container">
  <p-toolbar styleClass="p-toolbar-content">
    <button pButton type="button" icon="pi pi-bars" (click)="toggleSidenav()" class="p-button-rounded p-button-text"></button>
  </p-toolbar>

  <div class="p-content">
    <router-outlet></router-outlet>
  </div>
</div>
