/* You can add global styles to this file, and also import other style files */

/* @import '@angular/material/prebuilt-themes/indigo-pink.css'; */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap";
/* @import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'; */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.mdc-list-item__primary-text {
  color: white !important;
  display: flex;
}
