.aplicacao-container {
  display: flex;
  flex-direction: column; /* Organiza os cards verticalmente */
  gap: 16px;
  margin: 16px;
}

/* Card de detalhes da aplicação */
.aplicacao-card {
  flex: 1;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #e0e0e0;
}

.aplicacao-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-header {
  margin-left: auto;
  top: 8px;
  right: 8px; /* Move o ícone para o lado direito */
  display: flex;
}

.edit-button {
  color: #2196f3; /* Azul */
}

/* Card de histórico de mudança */
.historico-card {
  flex: 1;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #e0e0e0;
}

.historico-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.history-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  color: #3f51b5;
  margin-bottom: 16px;
}

.history-item {
  margin-bottom: 16px;
}

/* Título da aplicação */
.aplicacao-title {
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f51b5;
  margin: 10px 20px 10px 20px;
  align-items: center;
   span {
    margin-left: auto; 
   }
  border-bottom: 2px solid;
  border-color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(37, 97, 207, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );;
}

/* Links e informações principais */

.links-section p {
  margin: 4px 0; /* Ajusta o espaçamento entre os links */
}

.links-section a {
  display: block; /* Cada link em uma nova linha */
  margin-left: 8px; /* Identação para alinhamento */
}

/* Card de horas na aplicação */
.horas-card {
  flex: 1;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #e0e0e0;
  margin-top: 16px; /* Espaçamento extra para separar visualmente dos outros cards */
}

.horas-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.horas-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  color: #3f51b5;
  margin-bottom: 16px;
}

.horas-total {
  font-weight: normal;
  font-size: 1rem;
  color: gray;
}

.horas-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.horas-detalhes {
  flex: 1;
}

.horas-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.horas-total {
  font-weight: normal;
  font-size: 0.9rem;
  color: gray;
}

.mat-form-field {
  width: 100%;
}
.status-em-desenvolvimento {
  color: orange;
  font-weight: bold;
}

.status-disponibilizada-para-testes {
  color: blue;
  
}

.status-em-homologacao {
  color: purple;
}

.status-em-implantacao {
  color: teal;
}

.status-implantada {
  color: green;
  font-weight: bold;
}

.status-impedimento {
  color: red;
  font-weight: bold;
}

.status-default {
  color: gray;
}

select[mat-card-content] {
  padding-left: 10px !important;
}

.statusBar {
  justify-content: center;
  display: flex;
  margin: 10px 0px 10px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 3px;
}

.conteudo-section {
  display: flex;
}

.info {
  width: 100%;
  display: grid;
  align-items: center;
}

.info2 {
  width: 100%;
  div {
    align-items: center;
  }
}

.info-section {
  padding: 0px 10px;
}