.aplicacao-container {
  display: flex;
  flex-direction: column; /* Organiza os cards verticalmente */
  gap: 16px;
  margin: 16px;
}

/* Card de detalhes da aplicação */
.aplicacao-card {
  flex: 1;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #e0e0e0;
}

.aplicacao-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-header {
  position: absolute;
  top: 8px;
  right: 8px; /* Move o ícone para o lado direito */
}

.edit-button {
  color: #2196f3; /* Azul */
}

/* Card de histórico de mudança */
.historico-card {
  flex: 1;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #e0e0e0;
}

.historico-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.history-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  color: #3f51b5;
  margin-bottom: 16px;
}

.history-item {
  margin-bottom: 16px;
}

/* Título da aplicação */
.aplicacao-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f51b5;
  margin-bottom: 16px;
}

/* Links e informações principais */
.info-section p {
  margin: 8px 0;
}

.links-section p {
  margin: 4px 0; /* Ajusta o espaçamento entre os links */
}

.links-section a {
  display: block; /* Cada link em uma nova linha */
  margin-left: 8px; /* Identação para alinhamento */
}

/* Card de horas na aplicação */
.horas-card {
  flex: 1;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #e0e0e0;
  margin-top: 16px; /* Espaçamento extra para separar visualmente dos outros cards */
}

.horas-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.horas-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  color: #3f51b5;
  margin-bottom: 16px;
}

.horas-total {
  font-weight: normal;
  font-size: 1rem;
  color: gray;
}

.horas-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.horas-detalhes {
  flex: 1;
}

.horas-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.horas-total {
  font-weight: normal;
  font-size: 0.9rem;
  color: gray;
}

mat-form-field {
  width: 100%;
}
.status-em-desenvolvimento {
  color: orange;
  font-weight: bold;
}

.status-disponibilizada-para-testes {
  color: blue;
}

.status-em-homologacao {
  color: purple;
}

.status-em-implantacao {
  color: teal;
}

.status-implantada {
  color: green;
  font-weight: bold;
}

.status-impedimento {
  color: red;
  font-weight: bold;
}

.status-default {
  color: gray;
}

